# TeX

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# Compiled Source #
###################
*.axf
*.htm
*.lnp
*.lst
*.map
*.o
*.plg
*.sct
*.dep
*.tra
*.uvopt
*.crf
*.d
*.bak
*.iex
*._ia
*.uvgui_*xf
*.htm
*.lnp
*.lst
*.map
*.o
*.plg
*.sct
*.dep
*.tra
*.uvopt
*.crf
*.d
*.bak
*.iex
*._ia
*.uvgui_*

# Directories #
###############

Objects/
Listings/


#############
# VIM stuff #
#############

*.swp


